<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>

<body ng-app="myApp">
    <div id="HelloWorldScreen" ng-controller="HelloWorld">
        <input ng-model="txthello" id="txthello" type="text" /><br /><br />
        <div id="div1">{{txthello}}</div>
    </div>

    <div id="HelloWorldScreen" ng-controller="HelloWorld">
        <input ng-model="txthello" id="txthello" type="text" /><br /><br />
        <div id="div1">{{txthello}}</div>
    </div>

    <script src="Scripts/angular.min.js"></script>

    <script>
        function Hello($scope) {
            $scope.txthello = "HELLO WORLD";
        }
        var myApp = angular.module("myApp", []);
        myApp.controller("HelloWorld", Hello);
    </script>


</body>

</html>